################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/Lab2/.vs/Lab2
/Lab2/Lab2/bin/Debug/net6.0
/Lab2/Lab2/obj/Debug/net6.0
/Lab2/Lab2/obj
/Lab3/.vs/Lab3
/Lab3/Lab3/bin/Debug/net6.0
/Lab3/Lab3/obj
/lab4/lab4/obj
/lab4/.vs/lab4
/lab4/lab4/bin/Debug/net6.0
/Lab2/.vs/ProjectEvaluation
/lab4/.vs/ProjectEvaluation
/Lab5/.vs/Lab5
/Lab5/Lab5/bin/Debug/net6.0
/Lab5/Lab5/obj/Debug/net6.0
/Lab5/Lab5/obj
